<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <app-home-banner></app-home-banner>

        <!-- ***** Most Popular Start ***** -->
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Популярни</em> в момента</h4>
              </div>
              <div class="row">
                @for (topProd of mostDownloaded; track topProd.id) {
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <div>
                        <a [routerLink]="['/books', topProd.id, 'details']"><img src="{{topProd.imageUrl}}"
                                                                                 alt="{{topProd.title}}"></a>
                      </div>
                      <h4><a [routerLink]="['/books', topProd.id, 'details']">{{ topProd.title }}</a></h4>
                      <br><span>{{ topProd.category?.name }}</span>
                      <div class="overlay">
                        <ul class="d-inline-flex gap-sm-1 mt-0">
                          <li><i>{{ topProd.rating }} </i> <i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                } @empty {
                  <h4>Няма Книги</h4>
                }
                <div class="col-lg-12">
                  <div class="main-button">
                    <a routerLink="/books">Разгледай още</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Most Popular End ***** -->

      </div>
    </div>
  </div>
</div>
