<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">

          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <!-- <img alt=""> -->
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Search End ***** -->
          <div class="search-input">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" id="search" method="get">
              <input type="text"
                     placeholder="Потърси книга"
                     formControlName="title">
              <i class="fa fa-search"></i>
            </form>
          </div>
          <!-- ***** Search End ***** -->

          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a routerLink="/home" routerLinkActive="active">Начало</a></li>
            <li><a routerLink="/category" routerLinkActive="active">Категории</a></li>
            <li><a routerLink="/books" routerLinkActive="active">Книги</a></li>
            @if (isLoggedIn()) {
              <li><a href="#">Профил
                <img src="/assets/images/profile-header.jpg" alt="profilePicture"/>
              </a></li>
            } @else {
              <li><a routerLink="/login">Вход
                <img src="/assets/images/profile-header.jpg" alt="profilePicture"/>
              </a></li>
            }
          </ul>
          <a class='menu-trigger'>
            <span>Меню</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
