<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <div class="row-cols-sm-1">
          <div class="top-downloaded">
            <div class="heading-section">
              <h4>Филтрирай по:</h4>
            </div>

            <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="category" style="color:#e75e8d;">Категория:</label>
                <select id="category" formControlName="categoryId" class="form-control" style="color: #1f2122;">
                  @for (category of categories; track category.id) {
                    <option [value]="category.id">
                      {{ category.id == null ? 'Всички' : category.name }}
                    </option>
                  }
                </select>
              </div>
            </form>

          </div>
        </div>
        @if (isBookDeleted) {
          <div>
            <div class="alert alert-success">Книгата е изтрита.</div>
          </div>
        }

        @if (isBookDeletionError) {
          <div>
            <div class="alert alert-danger">Грешка при изтриване на книгата.</div>
          </div>
        }
        <app-books-grid [gridTitle]="gridTitle" [resultList]="books" (delete)="onDelete($event)"></app-books-grid>
      </div>
    </div>
  </div>
</div>
