.searchInput {
  background-color: #27292a;
  height: 46px;
  border-radius: 23px 0 0 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 45px;
}

.searchButton {
  height: 46px;
  border-radius: 0 23px 23px 0;
  border: none;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}

.searchResultMsg p {
  color: #ec6090;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 30px;
}

.searchResultMsg p em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}

.col-lg-3 .item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.col-lg-3 .item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

