<div class="row">
  <div class="col-lg-8">
    <div class="featured-games header-text">
      <div class="heading-section">
        <h4><em>Топ</em> книги</h4>
      </div>
      <div class="owl-features owl-carousel">
        @for (topBook of topBooks; track topBook.id) {
          <div>
            <div class="item">
              <div class="thumb">
                <img src="{{topBook.imageUrl}}" alt="">
              </div>
              <h4>{{ topBook.title }}</h4>
              <br><span>{{ topBook.category?.name }}</span>
              <ul class="d-inline-flex gap-sm-1 mt-0">
                <li><i>{{ topBook.rating }}</i> <i class="fa fa-star"></i></li>
              </ul>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
